<div class="grid place-content-center gap-6 lg:w-10/12 pl-3 pr-3 lg:p-0 ml-auto mr-auto robot" id="_about">
    <h2 class="text-5xl font-bold text-center">What We Deliver</h2>
    
    <!-- Accordion -->
    <div class="grid gap-1">
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" checked="checked" />
            <div class="collapse-title text-xl font-semibold">Real-time tracking</div>
            <div class="collapse-content">
              <p class="text-lg">Stay on top of your tasks with real-time tracking that updates as you work. QuickTrack records your time seamlessly, letting you focus on productivity without constant manual inputs. Every second counts, and QuickTrack ensures you’re always aware of your progress
            </p>
            </div>
        </div>

          <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-semibold">Detailed reports</div>
            <div class="collapse-content">
              <p class="text-lg">Get clear insights into your time usage with detailed reports. QuickTrack provides in-depth data and visualizations, making it easy to analyze how you spend your time and identify areas for improvement. Whether it’s for billing, reviewing, or personal reflection, your data is always ready when you need it.</p>
            </div>
          </div>

          <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-semibold">User-friendly interface</div>
            <div class="collapse-content">
              <p class="text-lg">Get clear insights into your time usage with detailed reports. QuickTrack provides in-depth data and visualizations, making it easy to analyze how you spend your time and identify areas for improvement. Whether it’s for billing, reviewing, or personal reflection, your data is always ready when you need it.</p>
            </div>
          </div>
    </div>
</div>
