<div class="grid place-content-center gap-6 h-lvh lg:w-10/12 pl-1 pr-1 lg:p-0 ml-auto mr-auto robot" id="_features">
    <h2 class="text-5xl font-bold text-center mb-8">Features</h2>
    
    <!-- Cards -->
    <div class="flex flex-wrap justify-center gap-3">
        <div class="card justify-around bg-base-100 w-96 shadow-md h-[100px] lg:h-[150px] hover:bg-gradient-to-tr hover:from-primary-blue hover:to-second-red text-white">
            <figure>
                <fa-icon [icon]="realTime" class="text-5xl"></fa-icon>
            </figure>
            <h2 class="text-center font-bold text-xl">Real-Time Tracking</h2>
        </div>

        <div class="card justify-around bg-base-100 w-96 shadow-md h-[100px] lg:h-[150px] shrink-0 hover:bg-gradient-to-tr hover:from-primary-blue hover:to-second-red">
            <figure>
                <fa-icon [icon]="reports" class="text-5xl"></fa-icon>
            </figure>
            <h2 class="text-center font-bold text-xl">Detailed Reports</h2>
        </div>

        <div class="card justify-around bg-base-100 w-96 shadow-md h-[100px] lg:h-[150px] hover:bg-gradient-to-tr hover:from-primary-blue hover:to-second-red">
            <figure>
                <fa-icon [icon]="ui" class="text-5xl"></fa-icon>
            </figure>
            <h2 class="text-center font-bold text-xl">Friendly UI</h2>
        </div>

    </div>
</div>
